LEMANA_URL=
LEMANA_APIKEY=
LEMANA_USER_ID=
LEMANA_ACCESS_TOKEN=
LEMANA_FIREBASE_ID=
LEMANA_APP_VERSION=
LEMANA_MOBILE_VERSION=
LEMANA_MOBILE_VERSION_OS=
LEMANA_MOBILE_BUILD=
LEMANA_REGION_MSK=
LEMANA_REGION_SPB=
LEMANA_CATEGORY_PATH=

LENTA_URL=
LENTA_DEVICE_ID=
LENTA_TOKEN=
LENTA_APP_VERSION=
LENTA_CLIENT=
LENTA_DEVICE_OS_VERSION=
LENTA_DEVICE_NAME=
LENTA_DEVICE_BRAND=
LENTA_DEVICE_OS=
LENTA_CATEGORY_ID=